body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: auto;
}

.card-grid {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 1rem;
}

.card {
	color: rgb(255, 255, 255);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.4rem;
	height: 18rem;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0));
	transition: 400ms;
	transform-style: preserve-3d;
	cursor: pointer;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.card:hover {
	box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.8);
}
.card-front {
	left: 0;
}
.card-front,
.card-back {
	position: absolute;
	padding: 1rem;
	backface-visibility: hidden;
}
.card-back {
	transform: rotateY(180deg);
}

.flip {
	--rotate-y: 180deg;
}
.flashcard-options {
	margin-top: 1rem;
}
.flashcard-option {
	margin-top: 0.5rem;
	color: rgb(190, 190, 190);
	font-size: 0.9rem;
}
.flashcard-option:first-child {
	margin-top: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436, #000000);
	padding: 0 1.5rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 992px) {
	.header {
		background-color: blue;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	margin-bottom: 1rem;
}

.form-group > label {
	color: white;
	font-size: 1rem;
	margin-bottom: 0.4rem;
}
input {
	padding: 0.2em 2em;
}

.button {
	/* margin-top: 1.8rem; */
	padding: 0.3em 2.1em;
	border-radius: 0.2em;
	border: none;
	cursor: pointer;
	color: #2d3436;
}
.button:hover {
	color: white;
	background-color: #63d471;
	background-image: linear-gradient(135deg, #64e272 0%, #91c0a8 74%);
}
